# **Machine Learning (Assignment # 1)**

**Question 1**

In [ ]:

ages = [19,22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()

print("Minimum Age :",ages[0],"Max age =",ages[-1])
mid = len(ages)//2
print("Median : ",(ages[mid]+ages[mid+1])//2)
print("Average Ages : ",sum(ages)/len(ages))
print("Range of ages ",max(ages)-min(ages))

Minimum Age : 19 Max age = 26
Median :  24
Average Ages :  22.8
Range of ages  7

**Question 2**

In [11]:
dog = {"name":"Munna", "color":"Black", "breed":"Piple", "legs":4, "age":1}
student = { "first_name":"Namratha", "last_name":"Ravula", "gender":"female", "age":42, "marital_status":"Unmarried", "skills":["Python","ML","Java","AI"], "country":"India", 
           "city":"Hyderabad", "address":"peta"}

print("Length =",len(student))
print(student["skills"],type(student["skills"]))
student["skills"].append("Pulihora")
student["skills"].append("Cooking")
print(student.keys())
print(student.values())

Length = 9
['Python', 'ML', 'Java', 'AI'] <class 'list'>
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['Namratha', 'Ravula', 'female', 42, 'Unmarried', ['Python', 'ML', 'Java', 'AI', 'Pulihora', 'Cooking'], 'India', 'Hyderabad', 'peta'])

**Question 3**

In [ ]:
brothers = ("Kia","Rao","Teja")
sisters = ("Kavith","Namrutha","Jina","priya")
siblings = brothers+sisters
print(siblings)

('Kia', 'Rao', 'Teja', 'Kavith', 'Namrutha', 'Jina', 'priya')

**Question 4**

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of It Companies =",len(it_companies))

it_companies.add("Twitter")

it_companies.update({"TCS","Accenture"})

it_companies.remove("Accenture")

print(A|B)
print(A.intersection(B))
print(A.issubset(B))
print(A.symmetric_difference(B))

del A,B

age_set = set(age)

print("Length of the set :",len(age_set),"Length of the list :",len(age), "length of set greater than length of list?",len(age_set)<len(age) )

Length of It Companies = 7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
{27, 28}
Length of the set : 5 Length of the list : 8 length of set greater than length of list True

**Question 5**

In [ ]:
radius = int(input("radius: "))

_area_of_circle_ = 3.14*radius*radius
_circum_of_circle_ = 2*3.14*radius

radius: 30

**Question 6**

In [ ]:
s ="I am a teacher and I love to inspire and teach people"
l=set(s.split(" "))
print(l)
print(len(l))

{'a', 'love', 'people', 'inspire', 'I', 'and', 'teach', 'teacher', 'to', 'am'}
10

**Question 7**

In [ ]:
print("Name\t\tAge\tCountry\t\tCity")
print("Asabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

**Question 8**

In [ ]:
radius = 10
print("Radius = {0}".format(radius))

print("area = {0} * radius ** 2".format(3.14))

print("The area of a circle with radius {0} is {1} meters square.".format(10,int(3.14* 10 **2)))

Radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

**Question 9**

In [ ]:
N = int(input())
l  = list(map(int, input().split()))
k=list()
for i in l:
    k.append(round(i*0.4535924,2))
print(k)

4
150 155 145 148
[68.04, 70.31, 65.77, 67.13]